
h1 {
    
    
    text-decoration: underline
   }

.heading {
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
 }

.note {
    font-weight: bold;
}


li {
    font-weight: lighter;
}



.todo-item {
    text-decoration: line-through;
}
* {

   font-family: 'Anton', sans-serif;
   font-family: 'Baloo Paaji 2', cursive;
}